.featured {
    position: relative;
    background-color: $light-grey;
    top: $navbar-height;
    padding: 20px;

    &__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}